@model IEnumerable<iWasHere.Domain.Models.Landmark>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalii atractie</title>
</head>
<body>
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.LandmarkId)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.LandmarkName)
            </td>
        </tr>

    </table>
</body>
</html>
