<h1 class="text-light">Lista obiective</h1>
@(Html.Kendo().Button()
        .Name("iconTextButton")
        .Tag("a")
        .Icon("filter")
        .Content("Filtreaza")
        .HtmlAttributes(new { id = "btnFilter", type = "button" })
        .Events(e => e.Click("refresh"))
)

@(Html.Kendo().Button()
        .Name("kendoIconTextButton")
        .Tag("a")
        .Icon("filter-clear")
        .Content("Sterge filtru")
        .HtmlAttributes(new { id = "btnResetFilter", type = "button" })
        .Events(e => e.Click("removeFilter"))
)

@(Html.Kendo().TextBox()
    .Name("inputLandmarkNameFilter")
    .HtmlAttributes(new { id = "inputTextbox", type = "textbox" })
)


@(Html.Kendo().Grid<iWasHere.Domain.Models.Landmark>()
        .Name("LandmarkGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.LandmarkId).Hidden();
            columns.Bound(c => c.LandmarkName).Title("Atractie");
            columns.Bound(c => c.LandmarkShortDescription).Title("Descriere").Hidden().ToString();
            columns.Bound(c => c.TicketId).Hidden();

            columns.Bound(c => c.DictionaryAvailabilityId).Hidden();

            columns.Bound(c => c.DictionaryItemId).Hidden();
            columns.Bound(c => c.DateAdded).Hidden().Title("Data adaugare");
            columns.Bound(c => c.DictionaryAttractionTypeId).Hidden();

            /*columns.Bound(c => c.DictionaryCity.County.Country.CountryName).Title("Tara");
            columns.Bound(c => c.DictionaryCity.County.CountyName).Title("Judet");*/
            columns.Bound(c => c.DictionaryCity.CityName).Title("Oras");
            columns.Bound(c => c.Longitude);
            columns.Bound(c => c.Latitude);

            columns.Bound(c => c.DictionaryAttractionType.AttractionName).Title("Tip atractie");
            columns.Template("<a class='k-button' href='/Landmark/LandmarkViewDetails?Id=#=LandmarkId#'>Arata detalii</a>").Width(150);
            columns.Template("<a  class='k-button' href='/Landmark/LandmarkAdd?Id=#=LandmarkId# '> Editeaza </a>").Width(150);
            columns.Template("<a class='k-button' href='/Landmark/Download?id=#=LandmarkId#'><i class='fa fa-download'></i> Export</a>").Title("Fisa obiectiv");;
        })

        .HtmlAttributes(new { style = "height: 550px;" })
        //.Events(eve=>eve.("recordDblClick"))
        .Scrollable()
        .Sortable()
        .Pageable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Landmark_Read", "Landmark").Data("getFilter"))
            .PageSize(20)
        )
)

<script>

    getFilter = function () {
        var model = {};
        model["txtboxLandmarkName"] = $("#inputTextbox").val();
        return model;
    }

    removeFilter = function () {
        $("#inputTextbox").val("");
        refresh();
    }

    refresh = function () {
        $("#LandmarkGrid").data("kendoGrid").dataSource.read();
        $("#LandmarkGrid").data("kendoGrid").dataSource.page(1);
    }

</script>
<p align="right"> <a href='/Landmark/LandmarkAdd?Id=0' class="k-button k-primary">Adauga un obiectiv</a></p>