

@model iWasHere.Domain.Models.DictionaryLandmarkType
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalii Atractie</title>

</head>
<body>
    <h1>@ViewData["Title"]</h1>
   
    <div class="row">
        <div class="col-xl-6 col-sm-10 offset-sm-3">
            <div class="card">
                <div class="card-block">
                    <form class="k-form">
                        <fieldset>
                            <p id="landmarkTypeAddTitle">Test</p>
                            @*//start*@


                            @*end*@
                            <label class="k-form-field">
                                <span>Cod detaliu atractie: </span>
                                @(Html.Kendo().TextBox()
                                .Name("inputLandmarkTypeCode")
                                .HtmlAttributes(new { id = "textBoxLandmarkTypeCode", type = "textbox", maxlength = "10" })
                                )

                            </label>
                            <label class="k-form-field">
                                <span>Nume detaliu atractie: </span>
                                @(Html.Kendo().TextBox()
                                .Name("inputLandmarkTypeName")
                                .HtmlAttributes(new { id = "textBoxLandmarkTypeName", type = "textbox", maxlength = "200" })
                                )

                            </label>

                            </label>
                            <label class="k-form-field">
                                <span>Descriere detaliu atractie: </span>
                                @(Html.Kendo().TextBox()
                                .Name("inputLandmarkTypeDescription")
                                .HtmlAttributes(new { id = "textBoxLandmarkTypeDescription", type = "textbox", maxlength = "200" })
                                )

                            </label>

                        </fieldset>

                        <div class="text-right">
                            <button type="button" class="k-button k-primary" onclick="cancel()">Anuleaza</button>
                            <button type="button" id="btnSaveEdit" class="k-button" onclick="editFunction(1)">Salveaza</button>
                            <button type="button" id="btnSaveNew" class="k-button" onclick="editFunction(2)">Salveaza si nou</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var currentURL = window.location.href;
        var url = new URL(currentURL);
        var modelId = url.searchParams.get("Id");

        // alert(c); // alert pentru verificarea id-ului
        //c ia valoarea id-ului
        if (modelId == 0) {
            document.getElementById("landmarkTypeAddTitle").innerHTML = "Adauga detalii noi atractie";//pageTitle

        } else {
            document.getElementById("landmarkTypeAddTitle").innerHTML = "Editeaza detalii atractie";
            document.getElementById("btnSaveNew").style.display = "none";//ascunde savenew
            var data = $.ajax({
                type: 'GET',
                url: '/DictionaryLandmarkType/LandmarkTypeGetById', //numecontroller, fara controller / nume metoda
                data: { txtLandmarkTypeId: modelId }, //parametri metoda cu  numele exact: variabila din javascript ce ii da valoarea
                cache: false,
                success: function (result) {
                    if (data.responseJSON != null) {
                        document.getElementById("textBoxLandmarkTypeCode").value = data.responseJSON.ItemCode;
                        document.getElementById("textBoxLandmarkTypeName").value = data.responseJSON.ItemName;
                        document.getElementById("textBoxLandmarkTypeDescription").value = data.responseJSON.Description;
                    }
                    else //id-ul nu este gasit in db
                    {
                        alert("Inregistrarea nu a fost gasita in baza de date!")
                        window.location.href = "/DictionaryLandmarkType/LandmarkDetails";
                    }
                    return result;
                }
            });
        }
        function cancel() {
            window.location.href = "/DictionaryLandmarkType/LandmarkDetails";
        }
        var eventType;

        function editFunction(eventType) {  //functie ce adauga/editeaza, daca eventtype este 1 se apasa pe salveaza, daca este 2 se apasa pe salveaza si nou
            code = document.getElementById('textBoxLandmarkTypeCode').value;
            name = document.getElementById('textBoxLandmarkTypeName').value;
            description = document.getElementById('textBoxLandmarkTypeDescription').value;
            if (code == "" || name == "" || description == "") {
                alert("Campuri necompletate!");
            } else {
                if (modelId != 0 && eventType == 1) {
                    $.ajax({
                        type: 'POST',
                        url: '/DictionaryLandmarkType/LandmarkType_Update',
                        data: { id: modelId, code: code, name: name, description: description },
                        cache: false,
                        success: function (result) {
                            alert("Editat cu succes"); return result;
                        }
                    })

                    window.location.href = "/DictionaryLandmarkType/LandmarkDetails"; //redirect

                } else if (modelId == 0 && eventType == 1) {
                    $.ajax({
                        type: 'POST',
                        url: '/DictionaryLandmarkType/AddNewLandmarkType',
                        data: { code: code, name: name, description: description },
                        cache: false,
                        success: function (result) {
                            alert("Adaugat cu Success"); return result;
                        }
                    })
                    window.location.href = "/DictionaryLandmarkType/LandmarkDetails";

                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/DictionaryLandmarkType/AddNewLandmarkType',
                        data: { code: code, name: name, description: description },
                        cache: false,
                        success: function (result) {
                            alert("Adaugat cu Success"); return result;
                        }
                    })
                    window.location.href = "/DictionaryLandmarkType/AddLandmarkDetails?Id=0";
                }
            }
        }
    </script>
</body>
</html>
