<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ticket</title>

</head>
<body>
    <h1>@ViewData["Title"]</h1>

    @(Html.Kendo().TextBox()
       .Name("kTextBox")
    //.Value("Cautare")
    )

    <div data-role="view">
        <br />
        <button data-role="button" data-click="buttonClick">
            My Kendo Button
        </button>
        <a data-role="button" data-click="buttonClick">

            @*var button = $("#kendoButton").kendoMobileButton({
            click: buttonClick
            });*@
     
    </div>


    @(Html.Kendo().Grid<iWasHere.Domain.Models.DictionaryLandmarkType>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.ItemId);
            columns.Bound(c => c.ItemCode);
            columns.Bound(c => c.ItemName);
            columns.Bound(c => c.Description);
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(200);
            //columns.Template("<a class='k-button' href='~/DictionaryLandmarkType/AddLandmarkDetails'>Editeaza</a>").Width(150);
            //columns.Template("<a class='k-button k-primary' href='~/Home/Index'>Sterge</a>").Width(150);

        })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
          .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
            .ToolBar(toolbar => toolbar.Create())
            .Editable(editable => editable.Mode(GridEditMode.InLine))
        .DataSource(dataSource => dataSource
            .Ajax()
            //CRUD
            .Read(read => read.Action("LandmarkType_Read", "DictionaryLandmarkType"))
            .Create(create => create.Action("LandmarkType_Read", "DictionaryLandmarkType"))
            .Update(update => update.Action("LandmarkType_Update", "DictionaryLandmarkType"))
            .Destroy(destroy => destroy.Action("LandmarkType_Destroy", "DictionaryLandmarkType"))

            .PageSize(20)
        )
    )

    <p align="right"> <a href='/DictionaryLandmarkType/AddLandmarkDetails' class="k-button k-primary">Adauga un nou tip de atractie</a></p>

</body>
</html>
