@model iWasHere.Domain.Models.DictionaryTicketType
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ticket</title>

</head>
<body>
    <h1>@ViewData["Title"]</h1>
        <div class="row">
            <div class="col-xl-6 col-sm-10 offset-sm-3">
                <div class="card bg-danger">
                    <div class="card-block"style="background-color: #1b1b1b">
                        <form class="k-form">
                            <fieldset>
                                <p id="ticketAddTitle" class="text-light">Adaugare tip de bilet</p>
                                <table >
                                    <tr>
                                        <td> 
                                            <span class="text-light">Codul tipului de Bilet: </span>
                                        </td>
                                        <td>
                                            @(Html.Kendo().TextBox()
                                                .Name("inputTicketTypeCode")
                                                .HtmlAttributes(new { id = "textBoxTicketTypeCode", type = "textbox", maxlength = "10" })
                                             )
                                        </td>
                                    </tr>
                                    <tr>
                                          <td> 
                                             <span class="text-light">Numele tipului de Bilet: </span>
                                          </td>
                                          <td>
                                               @(Html.Kendo().TextBox()
                                                 .Name("inputTicketTypeName")
                                                 .HtmlAttributes(new { id = "textBoxTicketTypeName", type = "textbox", maxlength = "200" })
                                                )
                                          </td>
                                    </tr>
                                </table>
                            </fieldset>
                            <div class="text-right"><br />
                                <button type="button" class="k-button k-primary" onclick="cancel()">Anuleaza</button>
                                <button type="button" id="btnSaveEdit" class="k-button" onclick="editFunction(1)">Salveaza</button>
                                <button type="button" id="btnSaveNew" class="k-button"onclick="editFunction(2)">Salveaza si nou</button>
                             
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var currentURL = window.location.href;
            var url = new URL(currentURL);
            var modelId = url.searchParams.get("Id");

        // alert(c); // alert pentru verificarea id-ului
        //c ia valoarea id-ului
            if (modelId == 0) {
                document.getElementById("ticketAddTitle").innerHTML = "Adauga un tip nou de bilet";//pageTitle

        } else {
            document.getElementById("ticketAddTitle").innerHTML = "Editeaza bilet";
            document.getElementById("btnSaveNew").style.display = "none";//ascunde savenew
            var data = $.ajax({
                type: 'GET',
                url: '/Ticket/TicketTypeGetById', //numecontroller, fara controller / nume metoda
                data: { txtTicketTypeId: modelId }, //parametri din metoda cu  numele exact: variabila din javascript ce ii da valoarea
                cache: false,
                success: function (result) {
                    if (data.responseJSON != null) {
                        document.getElementById("textBoxTicketTypeCode").value = data.responseJSON.TicketCode; 
                        document.getElementById("textBoxTicketTypeName").value = data.responseJSON.TicketName;
                    }
                    else //id-ul nu este gasit in db
                    {
                        alert("Inregistrarea nu a fost gasita in baza de date!")
                        window.location.href = "/Ticket/Ticket";
                    }
                    return result;
                    }
                });
            }
             function cancel() {
                 window.location.href = "/Ticket/Ticket";
            }
            var eventType;

            function editFunction(eventType) {  //functie ce adauga/editeaza, daca eventtype este 1 se apasa pe salveaza, daca este 2 se apasa pe salveaza si nou
                code = document.getElementById('textBoxTicketTypeCode').value;
                name = document.getElementById('textBoxTicketTypeName').value;
                if (code == "" || name == "") {
                    alert("Campuri necompletate!");
                } else {
                    if (modelId != 0 && eventType == 1) {
                            $.ajax({
                                type: 'POST',
                                url: '/Ticket/TicketType_Update',
                                data: { id: modelId, code: code, name: name },
                                cache: false,
                                success: function (result) {
                                    alert("Editat cu succes"); return result;
                                }
                            })

                            window.location.href = "/Ticket/Ticket"; //redirect

                    } else if (modelId == 0 && eventType == 1) {
                            $.ajax({
                                type: 'POST',
                                url: '/Ticket/AddNewTicketType',
                                data: { code: code, name: name },
                                cache: false,
                                success: function (result) {
                                    alert("Adaugat cu Success"); return result;
                                }
                            })
                            window.location.href = "/Ticket/Ticket";

                    } else {
                            $.ajax({
                                type: 'POST',
                                url: '/Ticket/AddNewTicketType',
                                data: { code: code, name: name },
                                cache: false,
                                success: function (result) {
                                    alert("Adaugat cu Success"); return result;
                                }
                            })
                            window.location.href = "/Ticket/TicketAdd?Id=0";
                    }
                }
            }
        </script>
</body>
</html>
