@model iWasHere.Domain.Models.DictionaryTicketType
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ticket</title>

</head>
<body>
    <h1>@ViewData["Title"]</h1>
    @*@{ using (Html.BeginForm("TicketType_Update", "Ticket", FormMethod.Post))}*@
        <div class="row">
            <div class="col-xl-6 col-sm-10 offset-sm-3">
                <div class="card">
                    <div class="card-block">
                        <form class="k-form">
                            <fieldset>
                                <p id="ticketAddTitle">Test</p>
                                @*//start*@


                                @*end*@
                            <label class="k-form-field">
                                <span>Codul tipului de Bilet: </span>
                                @(Html.Kendo().TextBox()
                                .Name("inputTicketTypeCode")
                                .HtmlAttributes(new { id = "textBoxTicketTypeCode", type = "textbox" })
                                )

                            </label>
                                <label class="k-form-field">
                                    <span>Numele tipului de Bilet: </span>
                                @(Html.Kendo().TextBox()
                                .Name("inputTicketTypeName")
                                .HtmlAttributes(new { id = "textBoxTicketTypeName", type = "textbox" })
                                    )

                                </label>
                            </fieldset>
                         
                            <div class="text-right">
                                <button type="button" class="k-button k-primary">Anuleaza</button>
                                <button type="button" id="btnSaveEdit" class="k-button">Salveaza</button>
                                <button type="button" id="btnSaveNew" class="k-button">Salveaza si nou</button>
                             
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

   

        <script type="text/javascript">
        var currentURL = window.location.href;
        var url = new URL(currentURL);
        var c = url.searchParams.get("Id");
        // alert(c); // alert pentru verificarea id-ului
        //c ia valoarea id-ului
        if (c == 0) {
            var test = document.getElementById("ticketAddTitle").innerHTML = "Adauga un tip nou de bilet";

        } else {
            var test = document.getElementById("ticketAddTitle").innerHTML = "Editeaza bilet";
            document.getElementById("btnSaveNew").style.display = "none";
            $("#textBoxTicketTypeCode").val(c);
            var data = $.ajax({
                type: 'GET',
                url: '/Ticket/TicketTypeGetById',
                data: { txtTicketTypeId: c },
                cache: false,
                success: function (result) {
                    if (data.responseJSON != null) {
                        document.getElementById("textBoxTicketTypeCode").value = data.responseJSON.TicketCode;
                        
                        document.getElementById("textBoxTicketTypeName").value = data.responseJSON.TicketName;        
                    } else //id-ul nu este gasit in db
                    {
                 
                        window.location.href = "/Ticket/TicketAdd?Id=0";
                    }
                    return result;
                }
            });

        }
        </script>
</body>
</html>
