<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ticket</title>
  
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <p>TESESDASd</p>
    @(Html.Kendo().Grid<iWasHere.Domain.Models.DictionaryTicketType>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.TicketTypeId).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false))).Width(225);
            columns.Bound(c => c.TicketCode).Width(500).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains)));
            columns.Bound(c => c.TicketName).Width(500).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains)));

        })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        
        //< a href = "~/Views/Ticket/Ticket.cshtml" > ~/ Views / Ticket / Ticket.cshtml </ a >
        
        .Pageable(pageable => pageable

            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5)) 
        .Sortable()
        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("TicketTypeRead", "Ticket"))
            .PageSize(20)
        )
          )


</body>
</html>
