

@model iWasHere.Domain.Models.DictionaryAttractionType
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tip de Atractie</title>

</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-xl-6 col-sm-10 offset-sm-3">
            <div class="card">
                <div class="card-block">
                    <form class="k-form">
                        <fieldset>
                            <p id="attractionTypeAddTitle">Test</p>
                            @*//start*@


                            @*end*@
                            <label class="k-form-field">
                                <span>Cod tip de atractie: </span>
                                @(Html.Kendo().TextBox()
                                .Name("inputAttractionTypeCode")
                                .HtmlAttributes(new { id = "textBoxAttractionTypeCode", type = "textbox", maxlength = "10" })
                                )

                            </label>
                            <label class="k-form-field">
                                <span>Nume atractie: </span>
                                @(Html.Kendo().TextBox()
                                .Name("inputAttractionTypeName")
                                .HtmlAttributes(new { id = "textBoxAttractionTypeName", type = "textbox", maxlength = "200" })
                                )

                            </label>

                        </fieldset>

                        <div class="text-right">
                            <button type="button" class="k-button k-primary" onclick="cancel()">Anuleaza</button>
                            <button type="button" id="btnSaveEdit" class="k-button" onclick="editFunction(1)">Salveaza</button>
                            <button type="button" id="btnSaveNew" class="k-button" onclick="editFunction(2)">Salveaza si nou</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var currentURL = window.location.href;
        var url = new URL(currentURL);
        var modelId = url.searchParams.get("Id");

        // alert(c); // alert pentru verificarea id-ului
        //c ia valoarea id-ului
        if (modelId == 0) {
            document.getElementById("attractionTypeAddTitle").innerHTML = "Adauga tipuri de atractii noi";//pageTitle

        } else {
            document.getElementById("attractionTypeAddTitle").innerHTML = "Editeaza detalii atractie";
            document.getElementById("btnSaveNew").style.display = "none";//ascunde savenew
            var data = $.ajax({
                type: 'GET',
                url: '/DictionaryAttractionType/AttractionTypeGetById', //numecontroller, fara controller / nume metoda
                data: { txtAttractionTypeId: modelId }, //parametri metoda cu  numele exact: variabila din javascript ce ii da valoarea
                cache: false,
                success: function (result) {
                    if (data.responseJSON != null) {
                        document.getElementById("textBoxAttractionTypeCode").value = data.responseJSON.AttractionCode;
                        document.getElementById("textBoxAttractionTypeName").value = data.responseJSON.AttractionName;
                    }
                    else //id-ul nu este gasit in db
                    {
                        alert("Inregistrarea nu a fost gasita in baza de date!")
                        window.location.href = "/DictionaryAttractionType/AttractionType";
                    }
                    return result;
                }
            });
        }
        function cancel() {
            window.location.href = "/DictionaryAttractionType/AttractionType";
        }
        var eventType;

        function editFunction(eventType) {  //functie ce adauga/editeaza, daca eventtype este 1 se apasa pe salveaza, daca este 2 se apasa pe salveaza si nou
            code = document.getElementById('textBoxAttractionTypeCode').value;
            name = document.getElementById('textBoxAttractionTypeName').value;
            if (code == "" || name == "" ) {
                alert("Campuri necompletate!");
            } else {
                if (modelId != 0 && eventType == 1) {
                    $.ajax({
                        type: 'POST',
                        url: '/DictionaryAttractionType/AttractionType_Update',
                        data: { id: modelId, code: code, name: name},
                        cache: false,
                        success: function (result) {
                            alert("Editat cu succes"); return result;
                        }
                    })

                    window.location.href = "/DictionaryAttractionType/AttractionType"; //redirect

                } else if (modelId == 0 && eventType == 1) {
                    $.ajax({
                        type: 'POST',
                        url: '/DictionaryAttractionType/AddNewAttractionType',
                        data: { code: code, name: name},
                        cache: false,
                        success: function (result) {
                            alert("Adaugat cu Success"); return result;
                        }
                    })
                    window.location.href = "/DictionaryAttractionType/AttractionType";

                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/DictionaryAttractionType/AddNewAttractionType',
                        data: { code: code, name: name },
                        cache: false,
                        success: function (result) {
                            alert("Adaugat cu Success"); return result;
                        }
                    })
                    window.location.href = "/DictionaryAttractionType/AddAttractionType?Id=0";
                }
            }
        }
    </script>
</body>
</html>
