
@model iWasHere.Domain.Models.DictionaryAttractionType
@*--modelul pentru pagian este de tipul DictionaryCurrency*@

@{
    ViewData["Title"] = "Adauga Atractie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("AddAttraction", "DictionaryAttractionType", FormMethod.Post))
//                --tot ce urmeaza aici, cand trimit post(pagina inapoi), se duce in actiunea AddValuta
{

    //    <!--<a href="/">modificat doar pentru un model, IEnumerable era pentru o lista de modele </a> -->


    <h1>Adauga</h1>


    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.AttractionCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AttractionName)
                </th>

            </tr>
        </thead>
        <tbody>

            <tr>

                <td>

                    @Html.EditorFor(model => model.AttractionCode, new { htmlAttributes = new { @class = "form-control" } })

                </td>
                <td>
                    @Html.EditorFor(model => model.AttractionName, new { htmlAttributes = new { @class = "form-control" } })
                </td>

            </tr>
            <tr>
                <td colspan="3">
                    <input type="submit" value="Salveaza Detalii" />
                </td>
            </tr>
        </tbody>
    </table>
}



