<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Country</title>

</head>
<body>
    <h1>@ViewData["Country"]</h1>
    @(Html.Kendo().Grid<iWasHere.Domain.Models.DictionaryCountry>()
        .Name("Countrygrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.CountryId);
            columns.Bound(c => c.CountryName);

        })

        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()

        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Country_Read", "DictionaryCountry"))
            .PageSize(20)
        )
    )
</body>
</html>