

    @{
        ViewData["Title"] = "Home Page";
    }


    <div class="text-center">
        <h1 class="display-4 text-danger">Go Robin</h1>
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fd52d3a7-16d5-4ae5-a900-2ddb238ff7fb/dbfd6tv-f2259958-1d45-42f1-91f2-69b4c61ff95f.png/v1/fill/w_894,h_894,strp/arkham_knight_robin_symbol_original_by_deathcantrell_dbfd6tv-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcL2ZkNTJkM2E3LTE2ZDUtNGFlNS1hOTAwLTJkZGIyMzhmZjdmYlwvZGJmZDZ0di1mMjI1OTk1OC0xZDQ1LTQyZjEtOTFmMi02OWI0YzYxZmY5NWYucG5nIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.FM1gSHmgrmvIsfO-VHWkEgvCygd8TaGJW5ALDBu6fD0" alt="robin logo" class="img-fluid" width="300" height="300">

    </div>
       
