

    @{
        ViewData["Title"] = "Home Page";
    }


    <div class="text-center">
        <h1 class="display-4 text-danger">Go Robin</h1>
        <img src="~/images/robin-logo.png" alt="robin logo" class="img-fluid" width="300" height="300">

    </div>
       
