
@model iWasHere.Domain.Models.DictionaryCountry
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tara</title>

</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-xl-6 col-sm-10 offset-sm-3">
            <div class="card bg-danger">
                <div class="card-block" style="background-color: #1b1b1b">
                    <form class="k-form">
                        <fieldset>
                            <p id="CountryAddTitle" class="text-light">Adaugare tara</p>
                            @*//start*@


                            @*end*@
                            <label class="k-form-field">
                                <span class="text-light">Nume tara: </span>
                                @(Html.Kendo().TextBox()
                                .Name("inputCountryName")
                                .HtmlAttributes(new { id = "textBoxCountryName", type = "textbox", maxlength = "200" })
                                )

                            </label>
                        </fieldset>

                        <div class="text-right">
                            <button type="button" class="k-button k-primary" onclick="cancel()">Anuleaza</button>
                            <button type="button" id="btnSaveEdit" class="k-button" onclick="editFunction(1)">Salveaza</button>
                            <button type="button" id="btnSaveNew" class="k-button" onclick="editFunction(2)">Salveaza si nou</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var currentURL = window.location.href;
        var url = new URL(currentURL);
        var modelId = url.searchParams.get("Id");

        // alert(c); // alert pentru verificarea id-ului
        //c ia valoarea id-ului
        if (modelId == 0) {
            document.getElementById("CountryAddTitle").innerHTML = "Adauga o noua tara";//pageTitle

        } else {
            document.getElementById("CountryAddTitle").innerHTML = "Editeaza tara";
            document.getElementById("btnSaveNew").style.display = "none";//ascunde savenew
            var data = $.ajax({
                type: 'GET',
                url: '/DictionaryCountry/CountryGetById', //numecontroller, fara controller / nume metoda
                data: { txtCountryId: modelId }, //parametri metoda cu  numele exact: variabila din javascript ce ii da valoarea
                cache: false,
                success: function (result) {
                    if (data.responseJSON != null) {
                        document.getElementById("textBoxCountryName").value = data.responseJSON.CountryName;
                    }
                    else //id-ul nu este gasit in db
                    {
                        alert("Inregistrarea nu a fost gasita in baza de date!")
                        window.location.href = "/DictionaryCountry/Country";
                    }
                    return result;
                }
            });
        }
        function cancel() {
            window.location.href = "/DictionaryCountry/Country";
        }
        var eventType;

        function editFunction(eventType) {  //functie ce adauga/editeaza, daca eventtype este 1 se apasa pe salveaza, daca este 2 se apasa pe salveaza si nou
            name = document.getElementById('textBoxCountryName').value;
            if ( name == "" ) {
                alert("Campuri necompletate!");
            } else {
                if (modelId != 0 && eventType == 1) {
                    $.ajax({
                        type: 'POST',
                        url: '/DictionaryCountry/Country_Update',
                        data: { id: modelId, name: name,},
                        cache: false,
                        success: function (result) {
                            alert("Editat cu succes"); return result;
                        }
                    })

                    window.location.href = "/DictionaryCountry/Country"; //redirect

                } else if (modelId == 0 && eventType == 1) {
                    $.ajax({
                        type: 'POST',
                        url: '/DictionaryCountry/AddNewCountry',
                        data: { name: name,},
                        cache: false,
                        success: function (result) {
                            alert("Adaugat cu Success"); return result;
                        }
                    })
                    window.location.href = "/DictionaryCountry/Country";

                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/DictionaryCountry/AddNewCountry',
                        data: { name: name },
                        cache: false,
                        success: function (result) {
                            alert("Adaugat cu Success"); return result;
                        }
                    })
                    window.location.href = "/DictionaryCountry/AddCountry?Id=0";
                }
            }
        }
    </script>
</body>
</html>
