

@model iWasHere.Domain.Models.DictionaryAvailability
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Program</title>

</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-xl-6 col-sm-10 offset-sm-3">
            <div class="card">
                <div class="card-block">
                    <form class="k-form">
                        <fieldset>
                            <p id="AvailabilityAddTitle">Test</p>
                            @*//start*@


                            @*end*@

                            <label class="k-form-field">
                                <span>Nume program: </span>
                                @(Html.Kendo().TextBox()
                                .Name("inputAvailabilityName")
                                .HtmlAttributes(new { id = "textBoxAvailabilityName", type = "textbox", maxlength = "200" })
                                )

                            </label>

                        </fieldset>

                        <div class="text-right">
                            <button type="button" class="k-button k-primary" onclick="cancel()">Anuleaza</button>
                            <button type="button" id="btnSaveEdit" class="k-button" onclick="editFunction(1)">Salveaza</button>
                            <button type="button" id="btnSaveNew" class="k-button" onclick="editFunction(2)">Salveaza si nou</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var currentURL = window.location.href;
        var url = new URL(currentURL);
        var AvailabilityId = url.searchParams.get("Id");

        // alert(c); // alert pentru verificarea id-ului
        //c ia valoarea id-ului
        if (AvailabilityId == 0) {
            document.getElementById("AvailabilityAddTitle").innerHTML = "Adauga un program nou";//pageTitle

        } else {
            document.getElementById("AvailabilityAddTitle").innerHTML = "Editeaza program";
            document.getElementById("btnSaveNew").style.display = "none";//ascunde savenew
            var data = $.ajax({
                type: 'GET',
                url: '/Availability/AvailabilityGetById', //numecontroller, fara controller / nume metoda
                data: { txtAvailabilityId: AvailabilityId }, //parametri metoda cu  numele exact: variabila din javascript ce ii da valoarea
                cache: false,
                success: function (result) {
                    if (data.responseJSON != null) {
                        document.getElementById("textBoxAvailabilityName").value = data.responseJSON.AvailabilityName;
                    }
                    else //id-ul nu este gasit in db
                    {
                        alert("Inregistrarea nu a fost gasita in baza de date!")
                        window.location.href = "/DictionaryAvailability/Availability";
                    }
                    return result;
                }
            });
        }
        function cancel() {
            window.location.href = "/DictionaryAvailability/Availability";
        }
        var eventType;

        function editFunction(eventType) {  //functie ce adauga/editeaza, daca eventtype este 1 se apasa pe salveaza, daca este 2 se apasa pe salveaza si nou
            name = document.getElementById('textBoxAvailabilityName').value;
            description = document.getElementById('textBoxAvailability').value;
            if (code == "" || name == "" || description == "") {
                alert("Campuri necompletate!");
            } else {
                if (modelId != 0 && eventType == 1) {
                    $.ajax({
                        type: 'POST',
                        url: '/DictionaryAvailability/Availability_Update',
                        data: { id: AvailabilityId,  name: name, },
                        cache: false,
                        success: function (result) {
                            alert("Editat cu succes"); return result;
                        }
                    })

                    window.location.href = "/DictionaryAvailability/Availability"; //redirect

                } else if (AvailabilityId == 0 && eventType == 1) {
                    $.ajax({
                        type: 'POST',
                        url: '/DictionaryAvailability/AddNewAvailability',
                        data: {name: name },
                        cache: false,
                        success: function (result) {
                            alert("Adaugat cu Success"); return result;
                        }
                    })
                    window.location.href = "/DictionaryAvailability/Availability";

                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/DictionaryAvailability/AddNewAvailability',
                        data: { name: name },
                        cache: false,
                        success: function (result) {
                            alert("Adaugat cu Success"); return result;
                        }
                    })
                    window.location.href = "/DictionaryAvailability/AddAvailability?Id=0";
                }
            }
        }
    </script>
</body>
</html>
