

@model iWasHere.Domain.Models.DictionaryAvailability
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Program</title>

</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-xl-6 col-sm-10 offset-sm-3">
            <div class="card bg-danger">
                <div class="card-block"  style="background-color: #1b1b1b">
                    <form class="k-form">
                        <fieldset>
                            <p id="AvailabilityAddTitle" class="text-light">Adauga interval</p>
                            <table>
                                <tr>
                                    <td>



                                        <span class="text-light">Nume program: </span>
                                    </td>
                                      <td>  @(Html.Kendo().TextBox() 
                                        .Name("inputAvailabilityName")
                                        .HtmlAttributes(new { id = "textBoxAvailabilityName", type = "textbox", maxlength = "200" })
                                        )

                                    </td><tr><td>

                                        <span class="text-light">Program: </span> </td>
                                     <td>   @(Html.Kendo().TextBox()
                                        .Name("inputSchedule")
                                        .HtmlAttributes(new { id = "textBoxSchedule", type = "textbox", maxlength = "200" })
                                        )

                                    </td>
                                </tr>


                            </table>


                        </fieldset>
                        <br />
                        <div class="text-right">
                            <button type="button" class="k-button k-primary" onclick="cancel()">Anuleaza</button>
                            <button type="button" id="btnSaveEdit" class="k-button" onclick="editFunction(1)">Salveaza</button>
                            <button type="button" id="btnSaveNew" class="k-button" onclick="editFunction(2)">Salveaza si nou</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var currentURL = window.location.href;
        var url = new URL(currentURL);
        var modelId = url.searchParams.get("Id");

        // alert(c); // alert pentru verificarea id-ului
        //c ia valoarea id-ului
        if (modelId == 0) {
            document.getElementById("AvailabilityAddTitle").innerHTML = "Adauga un program nou";//pageTitle

        } else {
            document.getElementById("AvailabilityAddTitle").innerHTML = "Editeaza program";
            document.getElementById("btnSaveNew").style.display = "none";//ascunde savenew
            var data = $.ajax({
                type: 'GET',
                url: '/DictionaryAvailability/AvailabilityGetById', //numecontroller, fara controller / nume metoda
                data: { txtAvailabilityId: modelId }, //parametri metoda cu  numele exact: variabila din javascript ce ii da valoarea
                cache: false,
                success: function (result) {
                    if (data.responseJSON != null) {
                        document.getElementById("textBoxAvailabilityName").value = data.responseJSON.AvailabilityName;
                        document.getElementById("textBoxSchedule").value = data.responseJSON.Schedule;
                    }
                    else //id-ul nu este gasit in db
                    {
                        alert("Inregistrarea nu a fost gasita in baza de date!")
                        window.location.href = "/DictionaryAvailability/Availability";
                    }
                    return result;
                }
            });
        }
        function cancel() {
            window.location.href = "/DictionaryAvailability/Availability";
        }
        var eventType;

        function editFunction(eventType) {  //functie ce adauga/editeaza, daca eventtype este 1 se apasa pe salveaza, daca este 2 se apasa pe salveaza si nou
            name = document.getElementById('textBoxAvailabilityName').value;
            schedule = document.getElementById('textBoxSchedule').value;
            if (name == "" || schedule == "") {
                alert("Campuri necompletate!");
            } else {
                if (modelId != 0 && eventType == 1) {
                    $.ajax({
                        type: 'POST',
                        url: '/DictionaryAvailability/Availability_Update',
                        data: { id: modelId,  name: name, schedule: schedule},
                        cache: false,
                        success: function (result) {
                            alert("Editat cu succes"); return result;
                        }
                    })

                    window.location.href = "/DictionaryAvailability/Availability"; //redirect

                } else if (modelId == 0 && eventType == 1) {
                    $.ajax({
                        type: 'POST',
                        url: '/DictionaryAvailability/AddNewAvailability',
                        data: {name: name, schedule: schedule },
                        cache: false,
                        success: function (result) {
                            alert("Adaugat cu Success"); return result;
                        }
                    })
                    window.location.href = "/DictionaryAvailability/Availability";

                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/DictionaryAvailability/AddNewAvailability',
                        data: { name: name, schedule: schedule },
                        cache: false,
                        success: function (result) {
                            alert("Adaugat cu Success"); return result;
                        }
                    })
                    window.location.href = "/DictionaryAvailability/AddAvailability?Id=0";
                }
            }
        }
    </script>
</body>
</html>
